main h3 {
    font-size: 1.4em;
    text-decoration: underline;
}
.Habilidadestec, .Habilidadesbland, .Habilidadesad {
   background-color:silver;
   padding: 10px;
   border: solid 2px black;
   border-radius: 10px;
}
form input, form textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}