h3 {
    font-size: 1.5em;
    text-decoration: underline;
}
.formulario{
    text-align: center;
    display: flex;
    justify-content: center;
}
form {
    width: 50%;
    background-color:grey;
    border: solid 2px;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form label {
    width: 70%;
    background-color:skyblue;
    border: solid 2px;
    border-radius: 10px;
    border-color: blue;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
form input {
    width: 60%;
    padding: 10px;
    margin: 10px;
    border: solid 2px;
    border-radius: 10px;
}
form input:focus{
    border-color: blue;
    outline: none;
}
form input:hover {
    background-color: lightgrey;
    transition: 0.5s;
}
form button {
    width: 100%;
    padding: 1em;
    margin: 2em;
    border: solid 2px;
    border-radius: 10px;
    border-color: black;
    background-color: blue;
    color: white;
}
form button:hover {
    background-color: lightblue;
    color: black;
    transition:0.5s;
}
form textarea {
    width: 80%;
    border: solid 2px;
    border-radius: 10px;
}
form textarea:hover {
    background-color: lightgrey;
    transition: 0.5s;
}
form textarea:focus{
    border-color: blue;
    outline: none;
}
form label, button {
    font-size: 20px;
    font-weight: bold;
}
.informacion-contacto strong {
    width: 20%;
    padding: 1em;
    margin: 1em;
    display: inline-block;
    text-align: center;
    background-color: lightblue;
    border: 2px solid;
    border-radius: 10px;
    border-color: blue;
}
.informacion-contacto li {
    font-weight: bold;
}
.informacion-contacto li a{
    width: 10%;
    padding: 1em;
    margin: 1em;
    text-align: center;
    background-color:silver;
    border: 2px solid;
    border-radius: 10px;
    border-color: blue;
    color: black;
}
.informacion-contacto li a:hover {
    background-color: grey;
    color: white;
    transition: 0.5s;
}
.ubicacion{
    text-align: center;
}

