
* {
    font-family: Arial, sans-serif;
} 
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
}
header, footer {
    padding: 20px 0;
    background-color:#1A1A1A;
    color: white;
    text-align: center;
}
header img {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 100px;   
}
header h1 {
    margin: 0;
    font-size: 2.5em;
    padding-bottom: 20px;
}
nav ul {
    list-style-type: none;
}
ul li {
    display: inline;
    margin: 0 20px;
}
li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 5px solid;
    padding: 10px;
    border-radius: 10px;
}
a:hover {
    background-color:white ;
    color:black;
    border-color: #7A7A7A;
    transition: 0.5s;
}
main {
text-align: left;
margin: 10px;
background-color: #D9D9D9;
padding: 1em;
border: solid 2px black;
}
main h1 {
text-decoration: underline;
}
main p {
font-size: 1.5em;
}
main h2 {
text-decoration: underline;
}